/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// reset css begin
@import "compass/reset";

// reset css end
// helper classes begin
.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

.margin-bottom-10 {
    margin-bottom: 10;
}

.margin-bottom-20 {
    margin-bottom: 20;
}

.margin-bottom-30 {
    margin-bottom: 30;
}

.margin-bottom-40 {
    margin-bottom: 40;
}

strong,
b {
    font-weight: 700;
}

em,
i {
    font-style: italic;
}

p,
ul li,
ol li {
    font-size: 16px;
    line-height: 23px;
}

// helper classes end
// general rules
@font-face {
    font-family: 'HelveticaNeue-Thin';
    src: local('../HelveticaNeue-Thin.otf'), url('../HelveticaNeue-Thin.otf') format('opentype')
}

body {
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

#hero {
    background-image: linear-gradient(rgba(218, 51, 46, 0.6), rgba(218, 51, 46, 0.6)), url('../../img/hero-bg.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    h2 {
        color: white;
        margin-bottom: 40px;
    }
}

h2 {
    font-size: 52px;
    font-weight: 700;
    text-transform: uppercase;
}

.logo {
    float: left;
}

.nav li {
    display: inline-block;
    float: right;

    a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        margin-left: 30px;
        padding-bottom: 3px;
        border-bottom: 4px solid white transparent;

        &:hover {
            border-bottom: 4px solid white;
            transition: border-bottom 0.1s;
        }
    }
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding: 40px 20px;
    // background: red;
}

.hero-para {
    color: white;
    font-size: 36px;
    font-family: 'HelveticaNeue-Thin';
    line-height: 40px;
    margin-bottom: 55px;
}

.cta {
    display: inline-block;
    margin-top: 90px;
    position: relative;
    // background: orchid;
}

.imgs {
    // background: black;
    float: right;
    position: absolute;
    right: -135px;
}

.iphone {
    // background:yellow;
    width: 85%;
    position: relative;
    // margin-bottom: -240px;
}

.iphone-on {
    width: 54%;
    position: absolute;
    right: 175px;
    top: 110px;
    // margin-bottom: -240px;
}

.iphone-btn {
    position: absolute;
    right: 215px;
}

.cta-info {
    // float: left;
    width: 60%;
    padding-right: 150px;
}

.cta-button {
    padding: 23px 35px;
    background: #282828;
    border-radius: 50px;
    text-decoration: none;
    color: white;

    &:hover {
        background: #383737;
        transition: 0.3s;
    }
}

.phone-icon {
    padding-right: 20px;
    vertical-align: middle;
}

// app features
#app-features {
    .container {
        text-align: center;
        padding: 60px 20px;
    }

    h2 {
        color: #8a8a8a;
        margin-bottom: 40px;
    }
}

.p-features {
    font-family: 'HelveticaNeue-Thin';
    color: #3a3a3a;
    font-size: 22px;
    line-height: 28px;
    padding: 0 130px;
}

.row {
    overflow: hidden;
    margin-top: 50px;

    h3 {
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 30px 0;
    }
}

.col-4-app {
    width: 33.33%;
    float: left;
    padding: 0 40px;

    p {
        font-family: 'HelveticaNeue-Thin';
        font-size: 18px;
        line-height: 24px;
        color: #7b7b7b;
    }
}

// nose
#nose {
    background-image: url('../../img/nose-bg.png');
    background-position: center;
    background-size: cover;
}

.download-info {
    width: 60%;
    padding: 160px 0;

    h2 {
        text-transform: uppercase;
        font-size: 52px;
        line-height: 54px;
        color: white;
        margin-bottom: 40px;

        span {
            color: #f55150;
        }
    }
}

.nose-p {
    color: #7d7f7e;
    font-size: 24px;
    line-height: 30px;
    font-family: 'HelveticaNeue-Thin';
    margin-bottom: 90px;
}

.download-btn {
    background: #c33934;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 25px;
    border-radius: 50px;

    &:hover {
        background: #d64c47;
        transition: 0.3s;
    }
}

// footer

footer {
    background: #2e2e38;

    .container {
        padding: 120px 20px;
    }
}

.col-4-footer {
    width: 33.33%;
    float: left;
    margin-top: 77px;
    padding: 30px;

    h4 {
        color: white;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 30px;
    }
}

.block {
    display: block;
}

.ul-post,
.ul-tweets {
    font-family: 'HelveticaNeue-Thin';
    color: white;
}

.reddish-bg {
    background-image: url('../../img/rectangle.png');
    background-repeat: no-repeat;
    padding-left: 70px;
    margin-top: 25px;
}

.ul-tweets li {
    list-style: none;
    margin-bottom: 35px;
}

.smaller {
    font-size: 5px;
    margin-top: 5px;
}

.p-about {
    font-family: 'HelveticaNeue-Thin';
    color: white;
    font-style: italic;
}

// copyright
#copyright {
    background: #d7dedc;

    .container {
        padding: 40px 90px;
        text-align: center;
    }
}

.inline {
    display: inline-block;
    font-size: 15px;
    vertical-align: middle;
}

.cr,
.me {
    margin-right: 40px;

    &:after {
        content: "";
        border: 1px solid #555555;
        margin-left: 35px;
    }
}

.fb,
.dr {
    margin-right: 20px;
}

// animation
.js-wp-2,
.js-wp-3 {
    opacity: 0;
}

.js-wp-2.animated,
.js-wp-3.animated {
    opacity: 1;
}

// media query responsive

@media only screen and (max-width:1120px) {
    .cta-info {
        padding-right: 40px;
    }

    .download-info {
        width: 70%;
    }
}

@media only screen and (max-width:940px) {

    .iphone,
    .iphone-btn,
    .iphone-on {
        display: none;
    }

    .cta-info {
        width: 100%;
        text-align: center;
    }

    .p-features {
        padding: 0 30px;
    }

    .col-4-app {
        width: 100%;
        float: none;
        margin-bottom: 40px;
    }

    .fb,
    .tw,
    .dr {
        margin-top: 20px;
    }

    .navbar {
        overflow: hidden;
        position: absolute;
        right: 30px;
        top: 50px;
        display: block;
        z-index: 100;
    }

    .burger-nav {
        background-image: url(../../img/hamburger.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        display: block;
        height: 31px;
        width: 40px;
        cursor: pointer;
        float: right;
        margin-bottom: 10px;
    }

    .container nav ul {
        height: 0;
        overflow: hidden;
        background: #333;
        border-radius: 5px;

        li {
            float: none;
            text-align: right;
            width: auto;
            margin: 0;
            display: block;

            a {
                padding: 10px;
                display: block;
            }
        }
    }

    .container nav ul.open {
        height: auto;
        clear: both;
    }
}

@media only screen and (max-width:792px) {
    .col-4-footer {
        width: 100%;
        margin-top: 0px;
        font-weight: 400;
    }

    .logo-footer {
        margin-bottom: 35px;
    }

    .cr:after,
    .me::after {
        display: none;
    }
}