/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../.rbenv/versions/2.6.1/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/2.6.1/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/2.6.1/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/2.6.1/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/2.6.1/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/2.6.1/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/2.6.1/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/2.6.1/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/2.6.1/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/style.scss */
.alignLeft {
  float: left;
}

/* line 15, ../sass/style.scss */
.alignRight {
  float: right;
}

/* line 19, ../sass/style.scss */
.margin-bottom-10 {
  margin-bottom: 10;
}

/* line 23, ../sass/style.scss */
.margin-bottom-20 {
  margin-bottom: 20;
}

/* line 27, ../sass/style.scss */
.margin-bottom-30 {
  margin-bottom: 30;
}

/* line 31, ../sass/style.scss */
.margin-bottom-40 {
  margin-bottom: 40;
}

/* line 35, ../sass/style.scss */
strong,
b {
  font-weight: 700;
}

/* line 40, ../sass/style.scss */
em,
i {
  font-style: italic;
}

/* line 45, ../sass/style.scss */
p,
ul li,
ol li {
  font-size: 16px;
  line-height: 23px;
}

@font-face {
  font-family: 'HelveticaNeue-Thin';
  src: local("../HelveticaNeue-Thin.otf"), url("../HelveticaNeue-Thin.otf") format("opentype");
}
/* line 59, ../sass/style.scss */
body {
  font-family: 'Montserrat', sans-serif;
}

/* line 63, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 67, ../sass/style.scss */
#hero {
  background-image: linear-gradient(rgba(218, 51, 46, 0.6), rgba(218, 51, 46, 0.6)), url("../../img/hero-bg.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
/* line 73, ../sass/style.scss */
#hero h2 {
  color: white;
  margin-bottom: 40px;
}

/* line 79, ../sass/style.scss */
h2 {
  font-size: 52px;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 85, ../sass/style.scss */
.logo {
  float: left;
}

/* line 89, ../sass/style.scss */
.nav li {
  display: inline-block;
  float: right;
}
/* line 93, ../sass/style.scss */
.nav li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 30px;
  padding-bottom: 3px;
  border-bottom: 4px solid white transparent;
}
/* line 101, ../sass/style.scss */
.nav li a:hover {
  border-bottom: 4px solid white;
  transition: border-bottom 0.1s;
}

/* line 108, ../sass/style.scss */
.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding: 40px 20px;
}

/* line 118, ../sass/style.scss */
.hero-para {
  color: white;
  font-size: 36px;
  font-family: 'HelveticaNeue-Thin';
  line-height: 40px;
  margin-bottom: 55px;
}

/* line 126, ../sass/style.scss */
.cta {
  display: inline-block;
  margin-top: 90px;
  position: relative;
}

/* line 133, ../sass/style.scss */
.imgs {
  float: right;
  position: absolute;
  right: -135px;
}

/* line 140, ../sass/style.scss */
.iphone {
  width: 85%;
  position: relative;
}

/* line 147, ../sass/style.scss */
.iphone-on {
  width: 54%;
  position: absolute;
  right: 175px;
  top: 110px;
}

/* line 155, ../sass/style.scss */
.iphone-btn {
  position: absolute;
  right: 215px;
}

/* line 160, ../sass/style.scss */
.cta-info {
  width: 60%;
  padding-right: 150px;
}

/* line 166, ../sass/style.scss */
.cta-button {
  padding: 23px 35px;
  background: #282828;
  border-radius: 50px;
  text-decoration: none;
  color: white;
}
/* line 173, ../sass/style.scss */
.cta-button:hover {
  background: #383737;
  transition: 0.3s;
}

/* line 179, ../sass/style.scss */
.phone-icon {
  padding-right: 20px;
  vertical-align: middle;
}

/* line 186, ../sass/style.scss */
#app-features .container {
  text-align: center;
  padding: 60px 20px;
}
/* line 191, ../sass/style.scss */
#app-features h2 {
  color: #8a8a8a;
  margin-bottom: 40px;
}

/* line 197, ../sass/style.scss */
.p-features {
  font-family: 'HelveticaNeue-Thin';
  color: #3a3a3a;
  font-size: 22px;
  line-height: 28px;
  padding: 0 130px;
}

/* line 205, ../sass/style.scss */
.row {
  overflow: hidden;
  margin-top: 50px;
}
/* line 209, ../sass/style.scss */
.row h3 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0;
}

/* line 217, ../sass/style.scss */
.col-4-app {
  width: 33.33%;
  float: left;
  padding: 0 40px;
}
/* line 222, ../sass/style.scss */
.col-4-app p {
  font-family: 'HelveticaNeue-Thin';
  font-size: 18px;
  line-height: 24px;
  color: #7b7b7b;
}

/* line 231, ../sass/style.scss */
#nose {
  background-image: url("../../img/nose-bg.png");
  background-position: center;
  background-size: cover;
}

/* line 237, ../sass/style.scss */
.download-info {
  width: 60%;
  padding: 160px 0;
}
/* line 241, ../sass/style.scss */
.download-info h2 {
  text-transform: uppercase;
  font-size: 52px;
  line-height: 54px;
  color: white;
  margin-bottom: 40px;
}
/* line 248, ../sass/style.scss */
.download-info h2 span {
  color: #f55150;
}

/* line 254, ../sass/style.scss */
.nose-p {
  color: #7d7f7e;
  font-size: 24px;
  line-height: 30px;
  font-family: 'HelveticaNeue-Thin';
  margin-bottom: 90px;
}

/* line 262, ../sass/style.scss */
.download-btn {
  background: #c33934;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 25px;
  border-radius: 50px;
}
/* line 270, ../sass/style.scss */
.download-btn:hover {
  background: #d64c47;
  transition: 0.3s;
}

/* line 278, ../sass/style.scss */
footer {
  background: #2e2e38;
}
/* line 281, ../sass/style.scss */
footer .container {
  padding: 120px 20px;
}

/* line 286, ../sass/style.scss */
.col-4-footer {
  width: 33.33%;
  float: left;
  margin-top: 77px;
  padding: 30px;
}
/* line 292, ../sass/style.scss */
.col-4-footer h4 {
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}

/* line 300, ../sass/style.scss */
.block {
  display: block;
}

/* line 304, ../sass/style.scss */
.ul-post,
.ul-tweets {
  font-family: 'HelveticaNeue-Thin';
  color: white;
}

/* line 310, ../sass/style.scss */
.reddish-bg {
  background-image: url("../../img/rectangle.png");
  background-repeat: no-repeat;
  padding-left: 70px;
  margin-top: 25px;
}

/* line 317, ../sass/style.scss */
.ul-tweets li {
  list-style: none;
  margin-bottom: 35px;
}

/* line 322, ../sass/style.scss */
.smaller {
  font-size: 5px;
  margin-top: 5px;
}

/* line 327, ../sass/style.scss */
.p-about {
  font-family: 'HelveticaNeue-Thin';
  color: white;
  font-style: italic;
}

/* line 334, ../sass/style.scss */
#copyright {
  background: #d7dedc;
}
/* line 337, ../sass/style.scss */
#copyright .container {
  padding: 40px 90px;
  text-align: center;
}

/* line 343, ../sass/style.scss */
.inline {
  display: inline-block;
  font-size: 15px;
  vertical-align: middle;
}

/* line 349, ../sass/style.scss */
.cr,
.me {
  margin-right: 40px;
}
/* line 353, ../sass/style.scss */
.cr:after,
.me:after {
  content: "";
  border: 1px solid #555555;
  margin-left: 35px;
}

/* line 360, ../sass/style.scss */
.fb,
.dr {
  margin-right: 20px;
}

/* line 366, ../sass/style.scss */
.js-wp-2,
.js-wp-3 {
  opacity: 0;
}

/* line 371, ../sass/style.scss */
.js-wp-2.animated,
.js-wp-3.animated {
  opacity: 1;
}

@media only screen and (max-width: 1120px) {
  /* line 379, ../sass/style.scss */
  .cta-info {
    padding-right: 40px;
  }

  /* line 383, ../sass/style.scss */
  .download-info {
    width: 70%;
  }
}
@media only screen and (max-width: 940px) {
  /* line 390, ../sass/style.scss */
  .iphone,
  .iphone-btn,
  .iphone-on {
    display: none;
  }

  /* line 396, ../sass/style.scss */
  .cta-info {
    width: 100%;
    text-align: center;
  }

  /* line 401, ../sass/style.scss */
  .p-features {
    padding: 0 30px;
  }

  /* line 405, ../sass/style.scss */
  .col-4-app {
    width: 100%;
    float: none;
    margin-bottom: 40px;
  }

  /* line 411, ../sass/style.scss */
  .fb,
  .tw,
  .dr {
    margin-top: 20px;
  }

  /* line 417, ../sass/style.scss */
  .navbar {
    overflow: hidden;
    position: absolute;
    right: 30px;
    top: 50px;
    display: block;
    z-index: 100;
  }

  /* line 426, ../sass/style.scss */
  .burger-nav {
    background-image: url(../../img/hamburger.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    display: block;
    height: 31px;
    width: 40px;
    cursor: pointer;
    float: right;
    margin-bottom: 10px;
  }

  /* line 439, ../sass/style.scss */
  .container nav ul {
    height: 0;
    overflow: hidden;
    background: #333;
    border-radius: 5px;
  }
  /* line 445, ../sass/style.scss */
  .container nav ul li {
    float: none;
    text-align: right;
    width: auto;
    margin: 0;
    display: block;
  }
  /* line 452, ../sass/style.scss */
  .container nav ul li a {
    padding: 10px;
    display: block;
  }

  /* line 459, ../sass/style.scss */
  .container nav ul.open {
    height: auto;
    clear: both;
  }
}
@media only screen and (max-width: 792px) {
  /* line 466, ../sass/style.scss */
  .col-4-footer {
    width: 100%;
    margin-top: 0px;
    font-weight: 400;
  }

  /* line 472, ../sass/style.scss */
  .logo-footer {
    margin-bottom: 35px;
  }

  /* line 476, ../sass/style.scss */
  .cr:after,
  .me::after {
    display: none;
  }
}
